---
layout: default
---
<main class="case-study-page" role="main" id="case-study-page">
  <!-- Header with structured data -->
  <section class="top-section" style="background-image: url(images/banners/{{page.image}})">
    <div class="top-section__shade"></div>
    <div class="row">
      <div class="large-12 small-12 column">
        <hgroup class="titles" id="titles">
          <h4 class="collection m-{{page.impact_type | slugify}}">{{page.case_collection_long}}</h4>
          {% assign title_size = page.title | size %}
          {% if title_size > 20 %}
            <h1 class="large-title">{{page.title}}</h1>
          {% else %}
            <h1>{{page.title}}</h1>
          {% endif %}
          <h2>{{page.description}}</h2>
          {% if page.authors %}
            <h4>by {{page.authors}}{% if page.special_thanks %}<a class="_idFootnoteLink" href="#footnote-999">*</a>{% endif %}</h4>
          {% endif %}
        </hgroup>
      </div>
    </div>
    <div class="row">
      <div class="large-6 column tags tags--left hide-for-small-only">
        {% if page.impact_type %}
          <p><strong>Impact</strong><span>{{page.impact_type}}</span></p>
        {% endif %}
        {% if page.sector %}
          <p><strong>Sector</strong><span>{{page.sector}}</span></p>
        {% endif %}
        {% if page.location %}
          <p><strong>Location</strong><span>{{page.location}}</span></p>
        {% endif %}
      </div>
        {% ifhascontent readtime %}
          {% contentblock readtime %}
        {% endifhascontent %}
    </div>
    <div class="floating-button">
      <a class="button button--{{page.impact_type | slugify}}" href="files/{{page.download}}">Download The Report<i class="material-icons">file_download</i></a>
    </div>

  </section>

  <!-- SOCIAL MEDIA ICONS -->
  <div class="row show-for-large sm-icons">
    <ul class="b-sidebar">
      <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
      <a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
      <a href="#" id="email" message="mailto:?subject={{ page.title | url_escape }}&body={{ page.description| append: '%0A%0ARead More%0A%0A' | url_escape}}"><li class="email"><i class="fa fa-envelope"></i></li></a>
    </ul>
  </div>
  <!-- End of Header -->

  <!-- Content -->
  {% ifhascontent summary %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Summary</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock summary %}

          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent takeaways %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Takeaways</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock takeaways %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent numbers %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Numbers</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock numbers %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent quotes %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Quotes</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock quotes %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent background %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Background</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock background %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent open_data_ghana %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Open Data in Ghana</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock open_data_ghana %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent path_above %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Path to Impact</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock path_above %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent data %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Data</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock data %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent path %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Path to Impact</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock path %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent path_open %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Path to Open</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock path_open %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent users %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Users</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock users %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent outcome %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Outcome</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock outcome %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent project %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Project</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock project %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent description %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Project Description</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock description %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent impact %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Impact</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock impact %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent challenges %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Challenges</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock challenges %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent discussion %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Discussion</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock discussion %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent action %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Calls to Action</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock action %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent risks %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Risks</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock risks %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent lessons %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Lessons Learned</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock lessons %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent forward %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Looking Forward</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock forward %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}


  {% ifhascontent conclusion %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Conclusion</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock conclusion %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent references %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>References</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock references %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent appendix %}
  <section class="page-section">
    <div class="row">
      <div class="column small-12 large-3 sidebar">
        <h3>Appendix</h3>
      </div>
      <div class="column small-12 large-9">
        <div class="e-expandable">
          {% contentblock appendix %}
          <span class="e-read-more js-more-toggle">Read More</span>
        </div>
      </div>
    </div>
  </section>
  {% endifhascontent %}

  {% ifhascontent footnotes %}
  <div class="b-footnotes">
    <div class="row">
      <div class="medium-8 large-10 large-offset-1 columns">
        <h4>Reference</h4>
        {% contentblock footnotes %}
      </div>
      <div class="columns" style="">
        <div class="e-close"><i class="material-icons">close</i></div>
      </div>
    </div>
  </div>
  {% endifhascontent %}
</main>

<section class="page-section">
  <div class="row">
    <div class="column large-12 e-last">
      <p>Learn about our <a href="about.html">methodology</a></p>
    </div>
  </div>
</section>
