#about-page {
    .top-section {
        padding-top: 130px;
        @include breakpoint($desktop) { height: 300px; }
        @include breakpoint($mobile-only) { height: 65vh; }
    }

    .page-section {
        padding-top: 50px;

        a {
            color: $od-blue;
            text-decoration: none;
            border-bottom: 1px solid $fuschia;
            &:hover {
                text-decoration: none!important;
                border-bottom: 2px solid $fuschia;
            }
        }

        h3 {
            font-size: 18px;
            color: $gray-60;
            @include breakpoint($desktop) { text-align: right; }
            @include breakpoint($mobile-only) { text-align: left; }
        }

        h4 {
            font-size: 16px;
            color: $gray-60;
            font-weight: 600;
        }

    }

    .slick-track {
        @include breakpoint($desktop) { height: auto; }
        @include breakpoint($mobile-only) { height: 100vh; }

        .b-quote-slide {
            height: 100%;
        }
    }

    .b-form textarea {
        min-height: 240px;
    }
}


.b-footer .e-content {

    h4 {
        @include breakpoint($mobile-only) { text-align: center; }
    }

    .e-partner-logo {
        text-align: center;
    }
    .e-partner-logo > img {

        @include breakpoint($mobile-only) {
            width: 80%;
            max-height: 300px;
        }

        width: 40%;
    }
}

.b-copyright {
    line-height: 36px;

    .e-partner-logo {
        text-align: center;
    }
    .e-partner-logo > img {
        width: 50%;
        max-height: 200px;
    }

    .e-cc-badge {
        @include breakpoint($desktop) { margin: 5px 25px 0 0; }
        @include breakpoint($mobile-only) { margin: 30px 0; }
    }
}

.b-copyright {
    position: relative;
    .e-partner-logo {
        > img {
            max-width: 400px;
            padding: 10px 0;
            // max-height: 60px;
            opacity: .5;
            @include transition;
            &:hover {
                opacity: 1;
                @include transition;
            }
        }
        @include breakpoint($desktop) {
            position: absolute;
            right: 0;
            top: 10px;
        }
        @include breakpoint($mobile-only) {
            position: static;
        }
    }
}
