.questions-list {
  list-style: none;
  @include breakpoint($small-only) {
    margin-left: 0;
    padding-left: 0;
  }
  li {
    padding-bottom: 10px;
    font-weight: bold!important;
  }
}

.row-title {
  font-weight: bold!important;
  margin-bottom: 0;
}

.row-description {
  margin-top: 0;
}

.text-highlight {
  color: $od-blue;
  font-weight: bold!important;
}

.box-border {
  border: 2px $od-blue solid;
  margin-bottom: 20px;
}

.inner-box {
  padding: 20px;
  color: $od-blue;
  font-style: italic;
  &__author {
    text-align: right;
    font-weight: bold!important;
    margin-bottom: 0;
  }
  &__title {
    text-align: right;
    margin-top: 0;
    color: transparentize($od-blue, .35);
  }
}

.e-h3 {
  font-weight: bold!important;
  color: $od-blue;
}

.transform-text {
  text-transform: uppercase;
  font-weight: bold!important;
  color: lighten(black, 60);
  margin-bottom: 0;

}

.example-box {
  width: 100%;
  background-color: transparentize($od-blue, .9);
  border: 2px $od-blue solid;
  margin-bottom: 30px;

  &__left {
    padding: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
  }

  &__right {
    padding: 20px;
    padding-left: 25px;
    height: 100%;
    background-color: transparentize($od-blue, .85);
  }

  &__h4 {
    color: $od-blue;
    font-weight: bold!important;
    font-size: 1.3rem!important;
    margin-top: 0;
  }

  &__h5 {
    font-weight: bold!important;
    color: transparentize($od-blue, .25);
    margin-top: 0;
  }

  &__title {
    text-transform: uppercase;
    color: $od-blue;
    font-weight: bold!important;
    &--right {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
  &__desc {
    color: $od-blue;
    padding: 0;
    margin: 0;
    margin-top: -5px;
  }
}

.figure {
  color: gray;
  margin-top: 0;
}


.final-report-page {
  img {
    width: 100%;
  }
  .floating-button__wrapper {
    @include breakpoint($medium-only) {
      font-size: 12px;
      bottom: -85px;
    }
    @include breakpoint($small-only) {
      bottom: -145px;
      font-size: 12px;
    }
  }
  .long-reading {
    @include breakpoint($small-only) {
      padding-top: 60px;
    }
  }

  p {
    a {
      text-decoration: none;
      border-bottom: 1px solid $fuschia;
      &:hover {
        text-decoration: none;
        border-bottom: 2px solid $fuschia;
      }
    }
    ._idFootnoteLink {
      border-bottom: none;
      &:hover {
        text-decoration: underline;
        border-bottom: none;
      }
    }
    ._idFootnoteAnchor {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
    ._idFootnote {
      a {
        text-decoration: none;
        border-bottom: 1px solid $fuschia;
        &:hover {
          text-decoration: none!important;
          border-bottom: 2px solid $fuschia;
        }
      }
    }
  }
}

.js-active {
  a {
    &:hover {
      text-decoration: none!important;
    }
  }
}
