.e-fn-ref {
    vertical-align: super;
    line-height: 0;

    span { line-height: 0; }

    a {
        font-size: 12px !important;
    }
}

.b-footnotes {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px;
    bottom: 0;
    z-index: 11;
    background-color: $od-blue;
    box-shadow: 0 0 10px rgba(black, .4);
    display: none;

    &.js-active { display: block; }

    .e-close {
        color: rgba(white, .6);
        cursor: pointer;
        float: right;
        top: 0;
    }
    .e-close:hover { color: white; }

    h4 {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: white;
    }

    ._idFootnote.js-active { display: block; }

    ._idFootnote {
        display: none;
        color: rgba(white, .7);
        a { text-decoration: none; }
        a:hover { text-decoration: underline; }
    }

    ._idFootnoteAnchor {
        display: inline-block;
        margin: -7px 10px;
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        background-color: rgba(white, .3);
        color: white;
        min-width: 24px;
        height: 24px;
        font-size: 14px;
        border-radius: 12px;
    }
}
