$red: #550e20;
$blue: #1b6aab;
$green: #167069;
$yellow: #706d16;
$purple: #4c337c;


#periodic-table-page {
  > header > h2 {
    text-align: center;
    margin: 120px 0 60px;
  }
  .top-section {
    padding-top: 130px;
    @include breakpoint($desktop) {
      height: 300px;
    }
    @include breakpoint($mobile-only) {
      height: 25%;
    }
  }
  .page-section {
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid $fuschia;
    // color: $od-blue;
    &:hover {
      text-decoration: none!important;
      border-bottom: 2px solid $fuschia;
    }
  }

  ._idFootnoteLink {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }


}

.periodic-table-alt {
  display: none;
  @media (max-width: 870px) {
    display: block;
  }
  .caption {
    font-style: italic !important;
    text-align: center;
  }
}



.periodic-table {
  @media (max-width: 870px) {
    display: none;
  }
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  &__group {
    flex: 1;

  }

  &__group--cc,
  &__group--gov {
    flex: 2;
  }
  &__group--odpl-cc,
  &__group--odpl-gov {
    flex: 3;
  }
  .group-name {
    height: 60px;
    text-align: center;
    padding: 0 10px;
    font-size: .8rem;
    line-height: 1.2;
    font-weight: 600;
  }

  &__element-container {
    display: flex;
  }

  &__column {
    flex: 1;
    padding: 5px;
  }

  &__element {
    display: block;
    width: 100%;
    height: 0;
    margin: 5px;
    padding-bottom: 100%;
  }
}

.element--blank {
  opacity: 0;
}

.element {
  border: 2px solid rgba(black, .1);
  text-align: center;
  position: relative;
  // margin-bottom: -1px;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  h2,
  p {
    margin: 0;
    flex: none;
    line-height: 1;
    text-transform: none;
    font-weight: 400;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    @media (max-width: 700px) {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: .8rem;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 0;
  }

  h4 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    text-transform: none;
  }

  p {
    @media (max-width: 900px) {
      line-height: 1.2;
    }
    line-height: 1.4;
  }
}

.element__container:hover {
  color: white;
}

.element__description {
  z-index: 1;
  padding: 20px;
  position: absolute;
  cursor: pointer;
  width: calc(300% + 3px);
  height: calc(200% + 2px);
  color: white;

  h3,
  h4,
  p {
    text-align: left;
  }

  h3 {
    float: left;
    font-size: 5rem;
    padding: 0 10px 0 0;
    text-transform: none;
    line-height: .9;
    opacity: .3;
  }

  &--subcategory {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 800;
    font-size: 1rem;
    opacity: 0.8;
  }
}

.element:first-child .element__description,
.element:nth-child(2) .element__description,
.element:nth-child(3) .element__description {
  top: -1px;
}
.element:nth-child(4) .element__description {
  bottom: calc(-100% - 2px);
}
.element:last-child .element__description {
  bottom: 0;
}

#i .element__description {
  bottom: calc(-200% - 3px);
  top: auto;
}

#m .element__description,
#fl .element__description,
#pa .element__description {
  bottom: auto;
  top: -1px;
}

// Sets the horizontal alignment of the description box
.element--pdd .element__description,
.element--cc .element__description,
.element--gov .element__description {
  left: 0;
}
.element--parts .element__description {
  right: calc(-100% - 2px);
}
.element--risks .element__description {
  right: 0;
}

// Sets the height for the description box
.element--height-3 .element__description {
  height: calc(300% + 3px);
}
.element--height-4 .element__description {
  height: calc(400% + 4px);
}

// Color Coding

.periodic-table__group--pdd {
  // background-color: lighten($purple, 55);
background-color: rgb(243,237,237);
  color: $purple;
  .element {
    border-color: $purple;
  }
  .element__container:hover,
  .element__description {
    background-color: $purple;
  }
}
.periodic-table__group--odpl-cc {
  // background-color: lighten($blue, 55);
background-color: rgb(243,237,237);
  color: $blue;
  .element {
    border-color: $blue;
  }
  .element__container:hover,
  .element__description {
    background-color: $blue;
  }
}
.periodic-table__group--cc {
  background-color: lighten($blue, 55);
  color: $blue;
  .element {
    border-color: $blue;
  }
  .element__container:hover,
  .element__description {
    background-color: $blue;
  }

  .periodic-table__column:nth-child(2) {
    color: darken($blue, 5);

    .element {
      background-color: rgba(black, .05);
      border-color: darken($blue, 5);
    }

    .element__container:hover {
      background-color: darken($blue, 10);
    }
  }
}
.periodic-table__group--odpl-gov {
  // background-color: rgba($yellow, .1);
background-color: rgb(243,237,237);
  color: $yellow;
  .element {
    border-color: $yellow;
  }
  .element__container:hover,
  .element__description {
    background-color: $yellow;
  }
}
.periodic-table__group--gov {
  // background-color: rgba($yellow, .1);
background-color: rgb(243,237,237);
  color: $yellow;
  .element {
    border-color: $yellow;
  }
  .element__container:hover,
  .element__description {
    background-color: $yellow;
  }

  .periodic-table__column:nth-child(1) {
    color: darken($yellow, 5);

    .element {
      background-color: rgba(black, .05);
      border-color: darken($yellow, 5);
    }

    .element__container:hover,
    .element__description {
      background-color: darken($yellow, 10);
    }
  }
}

.periodic-table__group--parts {
  // background-color: rgba($green, .1);
background-color: rgb(243,237,237);
  color: $green;
  .element {
    border-color: $green;
  }
  .element__container:hover,
  .element__description {
    background-color: $green;
  }
}

.periodic-table__group--risks {
  // background-color: rgba($red, .1);/
background-color: rgb(243,237,237);
  color: $red;
  padding-right: 5px;
  .element {
    border-color: $red;
  }
  .element__container:hover,
  .element__description {
    background-color: $red;
  }
}
.box-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.download-box {
  border: 2px #164A7A solid;
  background-color: rgba(22, 74, 122, 0.1);
  padding: 30px;
  margin: 2rem 8rem;
  text-align: center;
  @include breakpoint($small-only) {
    margin: 2rem 1rem;
  }
}
.download-box .button--dark-blue {
  color: #ffffff;
  padding: 5px 10px;
  font-size: 0.8rem;
}
.element__description {
  opacity: 0;
  pointer-events: none;
}

.element__description {
  transition: all .4s ease;
  opacity: 0;
  pointer-events: none;
}

.js-active .element__description {
  opacity: 1;
  pointer-events: all;
}

.periodic-tabs {
  max-width: 1200px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
}

.periodic-tab {
  overflow: hidden;
  max-height: 60px;
  transition: max-height .3s ease-out;
  &::before {
    @extend .u-material-icons;
    color: $white-60;
    margin: 10px 20px;
    float: right;
    content: "expand_more";
    cursor: pointer;
    line-height: inherit !important;
  }

  &.js-expand {
    max-height: 3000px;
    &::before {
      content: "expand_less";

      cursor: pointer;
    }
  }

  h5 {
    padding: 20px 20px 0 20px;
  }

  h5.second-subcategory {
  }

  > header {
    padding: 20px 30px;

    h3,
    p {
      color: white;
    }

    h3 {
      @include breakpoint($small-only) {
        font-size: 1rem;
      }
      font-size: 1.5rem;
      line-height: 1.2;
      margin: 0;
    }
  }
}

.periodic-tab__element {
  @include breakpoint($small-only) {
    display: inline-block;
    > div {
      float: left;
      margin-right: 10px !important;
    }
  }
  padding: 20px;
  display: flex;

  p {
    text-align: left;
  }

  h3 {
    font-size: 5rem;
    padding: 0;
    text-transform: none;
    line-height: 1.1;
    font-weight: 200;
    text-align: center;
    margin: 0;
  }

  > div {
    width: 150px;
    height: 150px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(black, .2);
    margin-right: 40px;
  }

  > p {
    flex: 1;
    margin: 0 30px 0 0;
  }

  h4 {
    font-size: .8rem;
    margin: 0;
    line-height: 1;
    text-align: center;

    font-weight: 400;
    text-transform: none;
  }

  p {
  }

  &--subcategory {
    display: inline-block;
    border: solid 1px;
    font-weight: 800;
    opacity: 0.3;
    padding: 5px 10px;
  }
}

.periodic-tab--pdd {
  background-color: $purple;
  color: white;

  section {
    color: $purple;
    background-color: lighten($purple, 55);

    .periodic-tab__element div {
      border-color: $purple;
      color: rgba($purple, .6);
      background-color: rgba($purple, .2);
    }
  }
}

.periodic-tab--odpl-cc {
  background-color: $blue;

  section {
    color: $blue;
    background-color: lighten($blue, 55);

    .periodic-tab__element div {
      border-color: $blue;
      color: rgba($blue, .6);
      background-color: rgba($blue, .0);
    }
  }
}

.periodic-tab--odpl-gov {
  background-color: $yellow;

  section {
    color: $yellow;
    background-color: lighten($yellow, 55);

    .periodic-tab__element div {
      border-color: $yellow;
      color: rgba($yellow, .6);
      background-color: rgba($yellow, .2);
    }
  }
}

.periodic-tab--cc {
  background-color: $blue;

  section {
    color: $blue;
    background-color: lighten($blue, 55);

    .periodic-tab__element div {
      border-color: $blue;
      color: rgba($blue, .6);
      background-color: rgba($blue, .0);
    }

    .periodic-tab__element div.second-subcategory {
      border-color: $blue;
      color: rgba($blue, .6);
      background-color: rgba($blue, .2);
    }
  }
}

.periodic-tab--gov {
  background-color: $yellow;

  section {
    color: $yellow;
    background-color: lighten($yellow, 55);

    .periodic-tab__element div {
      border-color: $yellow;
      color: rgba($yellow, .6);
      background-color: rgba($yellow, .2);
    }

    .periodic-tab__element div.second-subcategory {
      border-color: $yellow;
      color: rgba($yellow, .6);
      background-color: rgba($yellow, .0);
    }
  }
}

.periodic-tab--parts {
  background-color: $green;

  section {
    color: $green;
    background-color: lighten($green, 55);

    .periodic-tab__element div {
      border-color: $green;
      color: rgba($green, .6);
      background-color: rgba($green, .2);
    }
  }
}

.periodic-tab--risks {
  background-color: $red;

  section {
    color: $red;
    background-color: lighten($red, 55);

    .periodic-tab__element div {
      border-color: $red;
      color: rgba($red, .6);
      background-color: rgba($red, .2);
    }
  }
}
