#case-study-page {
.sidebar {
  padding-right: 60px;

  h3 {
    color: rgba(black, .4);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
    @include breakpoint($small-only) {
      text-align: left;
    }
  }

  p, ul {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.62;
    margin-top: 0;
    }
  }

  .e-expandable {
    height: auto;
    transition: all .4s ease;

    > :first-child {
      display: block;
      margin-top: 0;
      p {
        margin-top: 0;
      }
    }

    .read-more {
      display: inline-block;
    }

    > *:only-of-type + .read-more { display: none; }

    &.js-active {
      > * { display: inline-block; }
      > .row { display: flex;}
    }

    .e-h3 {
      color: $od-blue;
      font-style: italic;
      width: 100%;
    }

    .e-h2 {
      text-transform: uppercase;
      width: 100%;
    }

    .e-h1 {
      font-size: 1.3rem;
      color: $fuschia;
    }
  }

  .e-caption {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }

  .ParaOverride-2 {
    margin-bottom: 0;
  }

  .prose {
    > * > :first-child { margin-top: 0; }

    .button {
      font-family: 'proxima-nova', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      padding: 8px 15px;
    }
  }

  .sm-icons {
    @include breakpoint($small-only) {
      display: none;
    }
  }

  .head-accordion {
    padding-top: 15px;
  }

  .accordion-container {
    padding: 0;
    @include breakpoint($small-only) {
      padding: 0;
    }
  }

  .accordion ._idFootnoteLink {
      color: currentColor !important;
      text-decoration: none !important;
  }

  p {
    a {
      text-decoration: none;
      border-bottom: 1px solid $fuschia;
      &:hover {
        text-decoration: none;
        border-bottom: 2px solid $fuschia;
      }
    }
    ._idFootnoteLink {
      border-bottom: none;
      &:hover {
        text-decoration: underline;
        border-bottom: none;
      }
    }
    ._idFootnoteAnchor {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
    ._idFootnote {
      a {
        text-decoration: none;
        border-bottom: 1px solid $fuschia;
        &:hover {
          text-decoration: none!important;
          border-bottom: 2px solid $fuschia;
        }
      }
    }
  }

}
