<!-- <footer class='footer'>
  <div class="row expanded footer--darken">
    <div class="column large-4">
      <h5>Sections</h5>
    </div>
    <div class="column large-4 partner-no-show">
      <h5>Platform Partner</h5>
    </div>
    <div class="column large-4 partner-no-show">
      <h5>Collection Partners</h5>
    </div>
  </div>
  <div class="row expanded align-center">
    <div class="column large-4 small-12">
      <nav class="footer__nav">
        <a href="{{ 'index.html' | absolute_url }}">Home</a>
        <a href="{{ 'index.html#explore' | absolute_url }}">Explore</a>
        <a href="{{ 'about.html' | absolute_url }}">About</a>
        <a href="{{ 'key-findings.html' | absolute_url }}">Global Impact</a>
        <a href="{{ 'developingeconomies.html' | absolute_url }}">Developing Economies</a>
        <a href="{{ 'periodic-table.html' | absolute_url }}">Periodic Table</a>
        <a href="{{ 'contributors.html' | absolute_url }}">Contributors</a>
        <a href="{{ 'resources.html' | absolute_url }}">Resources</a>
      </nav>
    </div>
    <div class="column large-4 small-12">
      <h5 class="title-display">Platform Partner</h5>
      <a class="e-partner-logo" href="https://www.omidyar.com/" tagret="_blank"><img src="images/partners/omidyar.png" alt="Omidyar Network"></a>
    </div>
    <div class="column large-4 small-12" style="text-align:center">
      <h5 class="title-display">Collection Partners</h5>
      <a class="e-partner-logo e-partner-logo--other e-partner-logo--other--large" href="https://www.usaid.gov/" tagret="_blank"><img src="images/partners/usaid.png" alt="USAID"></a>
      <a class="e-partner-logo e-partner-logo--other e-partner-logo--other__btm-logo" href="https://www.fhi360.org/projects/mobile-solutions-technical-assistance-and-research-mstar" tagret="_blank"><img src="images/partners/mobile-solutions.png" alt="mSTAR"></a>
      <a class="e-partner-logo e-partner-logo--other e-partner-logo--other__btm-logo" href="https://www.fhi360.org" tagret="_blank"><img src="images/partners/fhi.png" alt="fhi360"></a>
      <a href="{{ 'about.html#contact-form' | absolute_url }}" class="button button--outline-dark">
        Collaborate With Us
      </a>
    </div>
  </div>
</footer> -->
