{% assign words = page.content | number_of_words %}

{% if words < 360 %}
  {% assign brief_view_time = 1 %} 
  {% assign full_story_time = 1 %} 
{% else %}
  {% assign full_story_time = words | divided_by: 275 %} 
  {% assign brief_view_time = full_story_time | divided_by: 3 %} 
{% endif %}

 <div class="large-6 column tags tags--right hide-for-small-only">
{% if page.read_time and page.full_read_time %}
  <h5>Read Time</h5>
  <p>Brief View <strong>{{brief_view_time}} MINS</strong></p>
  <p>Full Story <strong>{{full_story_time}} MINS</strong></p>
{% endif %}
</div>


