<header class="top-nav m-transparent">
  <div class="e-nav-group m-left e-social-media show-for-large">
    <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter"></i></a>
    <a href="http://thegovlab.org" class="e-nav-item" target="_blank">thegovlab.org</a>
  </div>
  <span class="top-nav__button js-trigger-menu e-nav-group m-right"><i class="material-icons">menu</i></span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="{{ 'index.html' | absolute_url }}">Home</a>
      <a href="{{ 'index.html#explore' | absolute_url }}">Explore</a>
      <a href="{{ 'about.html' | absolute_url }}">About</a>
      <a href="{{ 'key-findings.html' | absolute_url }}">Global Impact</a>
      <a href="{{ 'developingeconomies.html' | absolute_url }}">Developing Economies</a>
      <a href="{{ 'periodic-table.html' | absolute_url }}">Periodic Table</a>
      <a href="{{ 'contributors.html' | absolute_url }}">Contributors</a>
      <a href="{{ 'resources.html' | absolute_url }}">Resources</a>
    </nav>
  <a class="e-logo" href="./">
    <img src="images/govlab-logo-white.png" alt="">
  </a>
</header>
