---
layout: default
title: Open Data Policy Lab
custom_scripts: periodic-table.js
---

<main role="main" id="periodic-table-page">

  <header class="top-section">
    <div class="wrap">
      <h2>A User’s Guide to The Periodic Table of Open Data </h2>
      <p>Identifying the elements that matter when providing increased access to data</p>
      
    </div>
    <!-- SOCIAL MEDIA ICONS -->
  </header>

    <div class="row show-for-large sm-icons">
      <ul class="b-sidebar b-sidebar-wide">
        <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
        <a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
        <a href="#" id="email" message="mailto:?subject={{ page.title | url_escape }}&body={{'%0A%0ARead More%0A%0A' | url_escape}}"><li class="email"><i class="fa fa-envelope"></i></li></a>
      </ul>
    </div>

  <div class="page-section">
    <div class="row align-center">
      <div class="small-12 column">
       <p>Leveraging <a href="https://odimpact.org/about.html">our research</a> on the variables that determine <a href="https://odimpact.org/periodic-table.html">Open Data’s Impact</a>, The Open Data Policy Lab is pleased to announce the publication of a new report designed to assist organizations in implementing the elements of a successful data collaborative: A User’s Guide to The Periodic Table of Open Data.</p>
       <p>The User's Guide is a fillable document designed to empower data stewards and others seeking to improve data access. It can be used as a checklist and tool to weigh different elements based on their context and priorities. By completing the forms (offline/online), you will be able to take a more comprehensive and strategic view of what resources and interventions may be required.</p>
       <!-- <div class="download-box"><p></p>
        <div><a href="#explore-the-data" class="button button--dark-blue">Download the User’s Guide</a></div>
       </div> -->
       <div class="row p-table">
        <div class="columns small-12 large-6 medium-6 box-text">
          <p>Download and fill out the User’s Guide to operationalize the elements in your data initiative</p>
         
          <div class="align-center-small">
            <a src="{{'/files/periodic-table_userguide.pdf' | absolute_url}}" class="button button--black">Download the User’s Guide</a>
          </div>
    
        </div>
        <div class="columns small-12 large-6 medium-6">
          <img src="{{'/images/odpl-periodic-table-user-guide.png' | absolute_url}}">
        </div>
      </div>
       <p>In conjunction with the release of our User's Guide, the Open Data Policy Lab is pleased to present a completely reworked version of our Periodic Table of Open Data Elements, first launched alongside <a href="https://odimpact.org/periodic-table.html">in 2016</a>. We sought to categorize the elements that matter in open data initiatives into five categories: problem and demand definition, capacity and culture, governance and standards, personnel and partnerships, and risk mitigation. More information on each can be found in the attached report or in the interactive table below.</p>
       <div class="download-box"><p>Read more about the Periodic Table of Open Data Elements and how you can use it to support your work.</p>
        <div><a src="{{'/files/periodic-table_v3.pdf' | absolute_url}}" class="button button--dark-blue">Download Report</a></div>
       </div>
      </div>
    </div>
  </div>



  <div class="periodic-table">
    {% for i in site.data.elements %}
      <div class="periodic-table__group periodic-table__group--{{i.id}}">
        <p class="group-name">{{i.group}}</p>
        <div class="periodic-table__element-container">
        {% for j in i.columns %}
        <div class="periodic-table__column">
            {% for k in j.elements %}
              {% if k.blank %}
              <div class="periodic-table__element element element--blank"></div>
              {% else %}
              <div id="{{k.symbol | slugify}}" class="periodic-table__element element element--{{i.id}} element--height-{{k.height}} ">
                <div class="element__container js-click">
                  <h2>{{k.symbol}}</h2>
                  <p>{{k.name}}</p>
                </div>
                <div class="element__description js-unclick">
                  <h3>{{k.symbol}}</h3>
                  <h4>{{k.name}}</h4>
                  <p>{{k.description}}</p>
                  <span class="element__description--subcategory">{{k.subcategory}}</span>
                </div>
              </div>
              {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="page-section table-image">
    <div class="row align-center">
      <div class="large-12 column periodic-table-alt">
        <img src="{{'/images/final-report/table-v2.png' | absolute_url}}">
        <p class='caption'>Increase your window size to enable interactive table</p>
      </div>
    </div>
  </div>
  <div class="periodic-tabs" id="details">
    {% for i in site.data.elements %}
    <div class="periodic-tab periodic-tab--{{i.id}} js-toggle">
      <header>
        <h3>{{i.group}}</h3>
        <p>{{i.description}}</p>
      </header>
      <section>
        {% assign first = false %}
        {% for j in i.columns %}
          {% for k in j.elements %}
            {% if k.blank %}{% else %}
            {% if k.subcategory_order == 1 %}
              {% if first == true %}
                {% assign first = false %}
              {% else %}
                {% assign first = true %}
              {% endif %}
              <h5 class="{% unless first %}second-subcategory{% endunless %}">{{k.subcategory}}</h5>
            {% endif %}
            <div class="periodic-tab__element">
              <div class="{% unless first %}second-subcategory{% endunless %}">
                <h3>{{k.symbol}}</h3>
                <h4>{{k.name}}</h4>
              </div>
              <p>{{k.description}}</p>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </section>
    </div>
    {% endfor %}
  </div>
  {% include final-report-footnotes.html %}
</main>

{% contentfor custom_scripts %}
<script src="{{ '/js/periodic-table.js' | absolute_url }}"></script>

<script type="text/javascript">
  $(".file-odimpact-developing-economies-appendices").on('click', function() {
    ga('send', 'event', 'File', 'download', 'ODImpact - Appendices');
  });
</script>
{% endcontentfor %}